.column {
  &__title {
    background-color: var(--color-transparent);
    border-radius: 2rem;
    padding: 1rem;

    display: flex;
    justify-content: space-evenly;

    font-size: 1.25rem;
  }
  &__items {
    overflow-y: scroll;
    height: 90vh;
    min-width: 23rem;
  }
}

.indicator {
  background-color: var(--color-transparent);
  height: 1.25rem;
  border-radius: 2rem;
  width: 50%;
  margin: .75rem auto;
  opacity: 0;
}