.column {
  &__items {
    overflow-y: scroll;
    height: 90vh;
    min-width: 23rem;

  }
}

.indicator {
  background-color: var(--color-transparent);
  height: 1rem;
  border-radius: 2rem;
  width: 50%;
  margin: auto;
  opacity: 0;
}