.last-task {
  position: relative;
  width: fit-content;

  margin: 2rem;
}

.card {
  background-color: var(--color-secondary);
  width: 16rem;
  height: 16rem;
  border-radius: 30px;

  position: relative;
  padding: 1rem;
  z-index: 10;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);

  text-align: center;
  color: var(--color-main-font);

  &__header {
    grid-column: 1/3;
    font-weight: 100;

    &::after {
      content: "";
      background-color: var(--color-main-font);
      display: block;
      height: 1px;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__title {
    grid-column: 1/3;
    font-size: 1rem;
    text-align: start;
    font-weight: 500;
  }

  &__subject {
    grid-column: 1/2;
    font-weight: 100;
    align-self: end;
    text-align: start;

    &--value {
      grid-column: 2/3;
      font-weight: 500;
      align-self: end;
      text-align: end;
    }
  }

  &__due-date {
    grid-column: 1/2;
    font-weight: 100;
    align-self: end;
    text-align: start;

    &--value {
      grid-column: 2/3;
      font-weight: 500;
      align-self: end;
      text-align: end;
    }
  }

  &__date {
    grid-column: 1/3;
    font-weight: 100;
    align-self: end;

    &::before {
      content: "";
      background-color: var(--color-main-font);
      display: block;
      height: 1px;
      width: 100%;
    }
  }
}