.selector {
  text-align: center;
  //width: 100%;

  width: 20rem; //TODO: Może do wydupcenia jak już bedzie uzywany ten komponenet

  &__cards {
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;

  }
}