.grades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3rem;
}

.home {
  background-color: var(--color-primary);
}

.navbar {
  width: 70%;
  margin-left: 2rem;
  margin-top: 1rem;
}
