.board {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 20rem);
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  z-index: 10000;
  height: 83dvh;
  padding: 0 1rem;
}

.headers {
  margin: 2rem auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  &__select {
    width: 15rem;
  }
}

.board > * {
  flex-shrink: 0; /* Zapobiega kurczeniu się elementów wewnątrz kontenera */
}