.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headers {
  margin: 2rem auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  &__select {
    width: 15rem;
  }
}