.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  width: 70vw;
  min-height: 80vh;

  padding: 1rem;
  border-radius: 2rem;

  background-color: var(--color-transparent);

  .buttonOn {
    background-color: var(--color-third);
  }

  .filters {
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 10%;

    .tab {
      width: 30%;

      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }
  }

  .table_container {
    z-index: 10;
    width: 100%;
    height: 50vh;

    overflow: scroll;

    table {
      table-layout: fixed;

      min-width: 100%;

      color: var(--color-main-font);

      thead {
        position: sticky;
        top: 0;
      }

      th {
        padding: 0.5rem;

        background-color: var(--color-fourth);
      }

      tr {
        height: 2rem;
      }

      td {
        padding: 0.5rem;

        background-color: var(--color-third);

        text-align: center;
        font-weight: 500;

        overflow-wrap: break-word;
      }

      input {
        width: 98%;
      }
    }
  }
}

.deleted_row {
  color: red !important;
}

.updated_row {
  color: yellow;
}

.editButton {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.2rem;
  float: left;
  max-width: 20%;
  text-align: center;
}

.selected {
  background-color: #47dc4d;
  color: #47dc4d;
}

input[type="text"] {
  min-width: 10rem;
}