.last-grade {
  position: relative;
  width: fit-content;

  margin: 2rem;
}

.card {
  background-color: var(--color-secondary);
  width: 14rem;
  border-radius: 30px;

  position: relative;
  padding: 1rem;
  z-index: 10;

  &__header {
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__grade {
    font-size: 6rem;
    font-weight: 400;
    text-align: right;
    padding-right: 1.5rem;
  }

  &__subject {
    font-weight: 200;
    margin-bottom: 1.5rem;
    text-align: right;
    padding-right: 1.5rem;
  }

  &__date {
    font-weight: 200;
    text-align: center;
    width: 100%;

    &::before {
      content: "";
      background-color: var(--color-main-font);
      display: block;
      height: 1px;
      width: 100%;
    }
  }
}

.lolipop {
  &--1 {
    position: absolute;
    top: -4.5rem;
    right: 3.4rem;
    z-index: 20;
  }
  &--2 {
    position: absolute;
    top: -2.8rem;
    right: -3.1rem;
    z-index: 5;
  }
}