.input {
  background-color: var(--color-secondary-font);
  border: 0;
  border-radius: 15px;
  box-shadow: var(--shadow-main);

  color: var(--color-main-font);

  font-size: 1rem;
  padding: 1rem;
  &::-webkit-calendar-picker-indicator {
    filter: var(--filter-invert);
  }
  width: 100%;

}

.container {
  position: relative;
}