.btn {
  border: 2px #1a1a1a solid;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: 12rem;
  padding: .5rem;
  color: #1a1a1a;
  font-weight: 700;
  border-radius: 15px;
  margin-top: 1rem;
  margin-right: 1rem;
}