.card {
  background: var(--color-secondary);
  background: linear-gradient(0deg, var(--color-secondary) 0%, var(--color-primary) 100%);
  max-width: 23rem;
  min-width: 15rem;

  position: relative;
  margin: 0 1.2rem;
  padding: 1.2rem 3rem 1.2rem 3rem;

  border-radius: 3rem;
  color: var(--color-main-font);
  box-shadow: var(--shadow-main);

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .card__info {
    h2 {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;

      span {
        text-align: right;
        font-weight: 400;
        margin-left: .5rem;
      }
    }

    &::before {
      content: "";
      background-color: var(--color-main-font);
      display: block;
      height: 1px;
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    top: -1.5rem;
    right: -1rem;
  }

  &__btn {
    background-color: var(--color-primary);
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    border-radius: 100vw;
    padding: 0;
    display: flex;
    box-shadow: var(--shadow-main);
  }
}

@keyframes openBg {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: scale(80);
  }
}

.background {
  background: linear-gradient(0deg, var(--color-secondary) 0%, var(--color-primary) 100%);
  position: absolute;
  z-index: 5;

  height: 10rem;
  width: 20rem;

  border-radius: 3rem;

  animation: openBg .8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes contentOpacity {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-card {
  z-index: 5;
  animation: contentOpacity .8s ease-in-out;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1rem;

  &__container {
    position: relative;
    height: 100%;

    display: grid;
    grid-template-columns: 351px 1fr;
    }

  &__blank {
  }

  &__content {
    position: relative;
    width: 80%;

    margin: 1rem 2rem;

    color: var(--color-main-font);
  }

  &__btn {
    background-color: var(--color-primary);
    border-radius: 100vw;
    z-index: 100;
    padding: 0;

    display: flex;
    box-shadow: var(--shadow-main);

    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }

  &__upload-area {
    width: fit-content;
    margin-left: auto;
  }

  &__title {
    padding: 1rem;
  }

  &__info {
    width: 80%;
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 1rem;

    &::before {
      content: "";
      background-color: var(--color-main-font);
      height: 2px;
      width: 125%;
      position: absolute;
      display: block;
      top: 0;
    }

    &::after {
      content: "";
      background-color: var(--color-main-font);
      height: 2px;
      width: 125%;
      position: absolute;
      display: block;
      bottom: 0;
    }
  }

  &__description {
    margin: 1rem;
    font-weight: 500;
    width: 100%;
    height: 20rem;
    resize: none;
    border: none;

    font-size: 1.2rem;
    background-color: transparent;
    color: var(--color-main-font);
    font-weight: 500;
    font-family: sans-serif; //TODO: Ważne żeby tutaj zmienić pozniej na tą ktora ma być!!1!
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    img {
      width: 3rem;
    }

    &--title {
      margin-top: .5rem;
      display: flex;
      align-items: center;
    }

    &--profile {
      display: flex;
      align-items: center;
      margin: 1rem;
      position: relative;

      span {
        padding-left: 1rem;
        font-weight: 500;
      }
    }

    &--lider {
      position: absolute;
      top: -.9rem;
    }
  }
}


