.home {
  background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media only screen and (min-width: 1280px) {
  .notifications {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .grades {
    grid-column: 2/3;
    align-self: end;
  }

  .tasks {
    grid-column: 2/3;
  }
}

@media only screen and (max-width: 1279px) {
  .notifications {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .grades {
    display: none;
  }

  .tasks {
    display: none;
  }
}