@keyframes contentOpacity {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-card {
  z-index: 5;
  animation: contentOpacity .8s ease-in-out;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1rem;

  &__container {
    position: relative;
    height: 100%;

    display: grid;
    grid-template-columns: 351px 1fr;
  }

  &__blank {
  }

  &__btn {
    background-color: var(--color-primary);
    border-radius: 100vw;
    z-index: 100;
    padding: 0;

    display: flex;
    box-shadow: var(--shadow-main);

    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }

}

.send-btn {
  position: absolute;
  right: 0;
  top: 7%;
  margin: 2.5rem;
}

.content {
  position: relative;
  width: 80%;

  display: grid;
  grid-template-columns: (1fr, 1fr);
  grid-template-rows: auto auto 1fr 1fr;

  margin: 1rem 2rem;

  color: var(--color-main-font);

  &__elem {
    &--1 {
      display: flex;
      justify-content: space-between;
      width: 40vw;
      margin-bottom: 1rem;

    }

    &--2 {
      display: flex;
      justify-content: space-between;
      width: 40vw;
      margin-bottom: 1rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        background-color: var(--color-main-font);
        height: 1px;
        width: 100%;
      }
    }

    &--3 {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        background-color: var(--color-main-font);
        height: 1px;
        width: 100%;
      }
    }

    &--4 {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin: 0 2rem;
    }
  }

  &__textarea {
    width: 100%;
    max-height: 30vh;
    height: 80%;
  }

  &__input {
    width: 15rem;

    &--1 {
      width: 20rem;
    }
  }

  &__addBtn {
    margin-top: 1rem;
  }
}

.selectBtns {

}