.content {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  background: var(--img-birds-bg), var(--color-primary);
}

.filters {
  display: flex;
  justify-content: start;
  gap: 2rem;
  width: 70%;

  margin-bottom: 1rem;
}

.charts {
  background-color: #00000026;
  border-radius: 2rem;
  width: 30rem;
  height: auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: start;
  gap: 2rem;
  width: 22.1rem;

  margin-top: 1rem;

  button {
    background-color: var(--color-secondary);
  }
}

.export_failure {
  background-color: #d50000 !important;
}

.export_success {
  background-color: #47DC4D !important;
}