.bookmark {
  user-select: none;

  background: rgba(0, 0, 0, 0.15);
  width: 90%;

  min-height: 4rem;
  margin: .5rem 0;
  padding-left: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  transform: translateX(-70%);

  span {
    margin: 0 2rem;

    font-size: 1.4rem;
    font-weight: 400;
    color: #1a1a1a;
  }

  &__anime:hover {
    transform: translateX(40%);
    transition: all .5s ease-in-out;
  }
  &__anime:not(:hover) {
    transform: translateX(0);
    transition: all .5s ease-in-out;
  }
}

.profile {
  user-select: none;

  background: rgba(0, 0, 0, 0.15);
  width: 100%;

  padding: .5rem 2.5rem;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  &__data {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-left: 10px;
      color: #1a1a1a;
      font-weight: 500;
    }
  }
  svg:hover {
    transform: rotate(120deg);
    transition: transform 0.5s ease;
  }
  svg:not(:hover) {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
}