.expanded {

  &__content {

    input {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0;

      font-weight: 800;

      background-color: var(--color-secondary);

      &:hover {
        background-color: var(--color-third);
      }
    }

    label {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}