.header {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-transparent);

    border-radius: 3rem;
    padding: 0.5rem 2rem 0.5rem;
  }
}

.expanded {
  height: auto;

  &__content {
   // background-color: darkred;
  }
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}