.header {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-transparent);
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 15px;
  }
}

.expanded {
  height: auto;

  &__content {
   // background-color: darkred;
  }
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}